/* 1. Imports MUST come first */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* 2. Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. Base styles */
@layer base {
  * {
    font-family: "Outfit", sans-serif;
  }
  
  button {
    @apply cursor-pointer;
  }
}

/* 4. Custom utilities */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes fade-in{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.animate-fade-in{
  animation: fade-in 0.8s ease-in-out;
}
